.input {
    display: block;
    margin-bottom: 10px;
}

.error{
    color: orangered;
}
.success {
    color: green;
}
#progressbar {
    margin-top: 20px;
}
.ui-dialog-titlebar {
     padding: 0 !important;
}

.ui-dialog {
    height: 26px !important;
    position: static !important;
   // display: inline-block;
}