#matrix {
    border: 1px solid #999;
    margin: auto;
}

#matrix .cell {
    float: left;
}

#matrix .light {
    background: #dd2e2b;
}

#matrix .user {
    box-shadow: inset 0 0 3px #352b8e;
}
#score {
    margin: auto;
}

.snake {
    background: deepskyblue;
    border-radius:2px ;
}
.head-snake {
    background: blue;
    border-radius:4px ;
}
